@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: #D1D5DB;
    color: #000000;
  }

  html,
  body {
    @apply bg-[#030014] text-white overflow-x-hidden;
    margin: 0;
    padding: 0;
  }
}